@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
  display: flex;
  max-width: 1212px;
  width: 80%;
  height: 300px;
  padding-left: 5vw;
  padding-right: 5vw;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  gap: 10vw;
  flex-shrink: 0;
  background-color: white;
  border-radius: 10px;
  }
  
  .title {
    font-family: 'Inter', sans-serif;
    position: relative;
    padding-left: 5vw;
    top: 0px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .cardWrapper {
    display: inline-flex;
    align-items: center;
    gap: 120px;
  }
