.profileContainer {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}
.profileImage {
    height: 163px;
    align-self: stretch;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the circle properly */
    border-radius: 50%;
}

.name{
    color: #000;
    text-align: center;

    /* race heading */
    font-family: "IBM Plex Mono";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.location{
    color: #000;

    /* card title */
    font-family: Kanit;
    font-size: 16.748px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.category{
    color: #000;
    text-align: center;

    /* card title */
    font-family: Kanit;
    font-size: 16.748px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}